.slider {
  --slider-height-percentage: 60%;
  --slider-transition-duration: 700ms;
  --organic-arrow-thickness: 4px;
  --organic-arrow-border-radius: 0px;
  --organic-arrow-height: 40px;
  --organic-arrow-color: #e0e0e0;
  --control-button-width: 10%;
  --control-button-height: 25%;
  --control-button-background: transparent;
  --control-bullet-color: #e0e0e0;
  --control-bullet-active-color: #b5b5b5;
  --loader-bar-color: #6c4226;
  --loader-bar-height: 3px;
}
